h1{
    text-align:center;
    color:rgb(85, 92, 107);
    font-size: 70px;
    font-family  :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
h2{
    text-align:center;
    color:rgb(160, 164, 164);
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
h3{
 
    color:rgb(125, 133, 133);
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
      font-family: 'Courier New', Courier, monospace;
}
h4{
    padding: 20px;
    text-align: left;
    color:rgb(146, 155, 155);
    font-size: 80px;
    border-top: white;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Courier New', Courier, monospace;
}
body{background-color: #eff0f0;}
p{font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  color:rgb(182, 196, 196) ;}

#wrap {
    width: 80%;
    margin: auto;
    background: #fff;
    overflow: hidden;
    padding: 15px;}
    
* {
    box-sizing: border-box;
  }
  
  
  .column1 {
    float: left;
    width: 70%;
    padding: 100px;
    height: 50%; 
    
  }
   
  .column2 {
    float: right;
    width: 30%;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
  }
  .editbtn1{font-size:  40px; padding: 40px; text-align: left;
    color: rgb(184, 184, 184); justify-content: left;
    font-family:'Courier New', Courier, monospace;
    background: none;
    border: none;}
    .editbtn1:hover{font-size:  40px; padding: 40px; text-align: left;
        color: rgb(172, 172, 172); justify-content: left;
        font-family:'Courier New', Courier, monospace; 
    background: none;
    border: none; background-color: rgb(67, 183, 96);
      }

.editb{font-size:  40px; padding: 40px; text-align: left;
    color: rgb(173, 173, 173); justify-content: left;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
background: none;
border: none;}
.editb:hover{
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: green;}
  
    .editb2{font-size:  70px; padding: 40px; text-align: left;
 justify-content: left;
        font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background: none;color: green;
    border: none;}
     
    
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .btn{font-size:  60px; padding: 40px; text-align: left;
    color: rgb(163, 163, 164); justify-content: left;
    font-family:'Courier New', Courier, monospace;
background: none;
border: none;}
.btn1{font-size: 40px;  font-family: 'Courier New', Courier, monospace;
    background: none;color:rgb(170, 170, 170) ;
    border: none;}
.btn1:hover{
      background-color: rgb(67, 183, 96);
      border:none;   }
.btn2{font-size: 35px;  font-family: 'Courier New', Courier, monospace;background: none;color:rgb(182, 196, 196) ;
    border-style:solid; 
border-color: darkgray;
border-radius: 0.2cm;
padding: 2px;
margin: 10px;
}
.btn2:hover{ background-color: rgb(67, 183, 96);}
      
.btn3{font-size:  40px; padding: 30px;  text-align: left; justify-content: left;
    color: rgb(167, 167, 169); 
    font-family:'Courier New', Courier, monospace;
    background: none;
    border: none;}

    .btn3:hover{font-size:  40px; padding: 30px; text-align: left;
        color: rgb(166, 166, 167); justify-content: left;
        font-family:'Courier New', Courier, monospace; 
    background: none;
    border: none; background-color: rgb(67, 183, 96);
      }
.h6{padding-top:0px;}
      
a{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(169, 167, 167);font-size: 45px;
  justify-content: left;}

  .btn1{font-size: 40px;  font-family: 'Courier New', Courier, monospace;
    background: none;color:rgb(180, 180, 180) ;
    border: none;}
.btn1:hover{
      background-color: rgb(67, 183, 96);
      border:none;   }

   
      .editbtn3{font-size:  40px; padding: 30px; text-align: left;
        color: rgb(165, 165, 168); justify-content: left;
        font-family:'Courier New', Courier, monospace;
        background: none;
        border: none;}
        .editbtn3:hover{font-size:  40px; padding: 20px; text-align: left;
            color: rgb(173, 173, 173); justify-content: left;
            font-family:'Courier New', Courier, monospace; 
        background: none;
        border: none; background-color: rgb(67, 183, 96);
          }


          .btn4{font-size: 35px;  font-family: 'Courier New', Courier, monospace;background: none;color:rgb(182, 196, 196) ;
            border-style:solid; 
        border-color: darkgray;
        border-radius: 0.2cm;
        padding: 2px;
        margin: 10px;
        }
        .btn4:hover{ background-color:transparent;
            border-color: green;
        color: green;}