   
  <body>
    <h1 style="padding:40px ;"><strong>FABSTITCH</strong></h1>
    <h2>Online stitching/tailoring doorstep</h2>
<div id="wrap">
    
   <div class="row">
   
    <div class="column1" style="background-color:rgb(255, 255, 255);">
      <h3>OUR EXCLUSIVE DESIGNS</h3>

      
      <strong><button class="editb"> Blogs</button><button class="editb">January 27, 2015</button><button class="editb ">Aanchal Yadav</button><button class="editb ">Comments: 2</button>  </strong>
      
     
      <img src="https://images.pexels.com/photos/6387638/pexels-photo-6387638.jpeg?auto=compress&cs=tinysrgb&w=600"  alt="CSS"  width="90%"><br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <button type="submit" class="btn4" routerLink="design">Read More</button>
       
      <br>
      <hr>
      <h3>General Care and Maintenance of Fabrics</h3>

      
      <strong><button class="editb"> Blogs</button><button class="editb">January 27, 2015</button><button class="editb ">Aanchal Yadav</button><button class="editb ">Comments: 2</button>  </strong>
      
     
      <img src="https://images.pexels.com/photos/4863059/pexels-photo-4863059.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"  alt="CSS"  width="90%"><br>
      <p style="font-size: 45px;font-family: Arial, Helvetica, sans-serif; ">We all know that clothes need care and maintenance when they become dirty due to<br> various reasons.</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <button type="submit" class="btn4" routerLink="fabrics">Read More</button>
       
       
    </div>
    <div class="column2" style="background-color:rgb(255, 255, 255);">
        
      <h4>Recent Posts</h4> 
        
        <hr> 
        
         <button class="editbtn1"> Our Exclusive Designs</button> 
         <hr>
         <button class="editbtn1">General care and Maintainance of fabrics</button> 
         <hr>


         <h4>Recent Comments</h4>          
<p>Namrata on <button class="btn1">Alteration Services </button> <br>
    Sonu on <button class="btn1">Alteration Services </button><br>
    Toshi Deepa on  <button class="btn1">Alteration Services </button><br>
    gautam on <button class="btn1">Blouse Stitching </button><br>
    Reema on <button class="btn1">Blouse Stitching </button></p> 
    <hr>
    <h4>Tag Cloud</h4>      
        <button class="btn2">Anarkali</button> 
        <button class="btn2">Care</button> 
        <button class="btn2">Clothes</button> 
        <button class="btn2">Designer wear</button> 
        <br>     
        <button class="btn2">Design</button> 
        <button class="btn2">Drying</button>  
        <button class="btn2">Exclusive</button>  
        <button class="btn2">Fabrics</button> 
        <br>  
        <button class="btn2">Ironing</button>    
        <button class="btn2">Latest</button>   
        <button class="btn2">Laundring</button>    
        <button class="btn2">Lehanga</button> 
        <br>
        <button class="btn2">Washing</button>    
        <button class="btn2">Western</button>   
        <button class="btn2">Western Wear</button>     
        <br>
        <br>
        <br>
        <br>
        <hr>
        <h6><img src="https://th.bing.com/th/id/R.35499e4e5bdaec7b11207959ce972f48?rik=wdb8%2bQhnXLWVlg&riu=http%3a%2f%2fwww.fabstitch.in%2fwp-content%2fuploads%2f2015%2f01%2flogof.png&ehk=c%2b%2b1M2ooTPcMDrD533LUa5W6ndciTxh3173ngC2TaJA%3d&risl=&pid=ImgRaw&r=0"     width="70%" ></h6>

        <br>
        <p style="font-family:'Courier New', Courier, monospace ;color: darkgrey; font-size: 45px;"><strong>Customer Support</strong> </p><br>
       <p><i class="fa fa-phone" aria-hidden="true"></i> +91-9900887766 </p>
<hr> 
<button class="editbtn3">Terms Of Services</button> 
<h6 style="font-size:70px ;color:rgb(66, 142, 51) ;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Happy Tailoring!</h6>
 <br>  
 <br>
 <br>
 <br>
 <h4>About</h4>    <hr>      
      
 <p style=" font-size: 40px;font-family: Arial, Helvetica, sans-serif;"> FabStitch offers an online tailoring experience with free pick-up and delivery 
    in Bangalore. We provide stitching services with customisable designs for salwar suits, blouses, kurtas, bottoms, 
    western wear and kids wear as per customers measurement at doorstep.</p>
      </div>   
    </div>  
  </div>  
</body>